:root{
    --v2white: #fffffe;
    --v2purplelight: #C3A1EF;
    --v2purplemid: #8A66B8;
    --v2black: #242E2F; 
}

b{
    font-weight: 600;
}

b.text-purple{
    font-weight: 600;
    color: var(--v2purplemid);
}

ul, li{
    margin: 0;
}

.skin {
    color: var(--v2black);
    font-family: 'Inter', sans-serif;
    background-color: var(--v2white);
    /* height: 100%; */
    /* width: 100%; */
    width: 80vw;
    margin: 0 auto;
    /* width: 100%; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* top: 50%; */
    /* left: 50%; */
}

.skin-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skin-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.skin-header-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.skin-header-img{
    width: 65vw;
}

.skin-title{
    font-weight: 600;
    font-size: 24px;
    padding: 50px 100px 20px 125px;
}

.skin-subtitle{
    font-size: 16px;
    padding: 2px 125px 2px 125px;
}

.skin-divider{
    font-size: 16px;
    font-weight: 600;
    color: var(--v2purplelight);
    padding: 5px 125px 10px 125px;
}

.skin-header{
    font-weight: 600;
    font-size: 20px;
    padding: 20px 100px 10px 125px;
}

.skin-h2{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 10px 10px 125px;
}

.skin-text{
    font-size: 16px;
    padding: 10px 125px 10px 150px;
}

.skin-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.skin-img{
    width: 800px;
}

a.skin-link:link {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}

a.skin-link:visited {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}

a.skin-link:hover {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: underline;
font-weight: 600;
}

a.skin-link:active {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}