:root{
    --v2white: #fffffe;
    --v2purplelight: #C3A1EF;
    --v2purplemid: #8A66B8;
    --v2black: #242E2F; 
}

b{
    font-weight: 600;
}

b.text-purple{
    font-weight: 600;
    color: var(--v2purplemid);
}

.f {
    background-color: var(--v2white);
    color: var(--v2black);
    border-top: 3px solid var(--v2purplelight);
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    width: 65vw;
}

@media (max-width: 768px) {
    .f {
        width: 100vw;
    }
}

.f-divider{
    font-weight: 600;
    color: var(--v2purplemid);
    padding: 10px 0px;
}

.f-wrapper {
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;    
}

.f-credits-wrapper {
    flex: 9;
    text-align: left;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.f-credits-wrapper p {
    margin: 0;
}

.f-update-time {
    color: #847992;
    font-size: 14px;
    margin: 10px 0 !important;
}

.f-contact-wrapper {
    flex: 1;
    text-align: left;
    /* margin-right: 25px; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-contact-heading {
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--v2purplemid);
}

.f-sm-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.f-sm-icons img {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 450px) {
    .f-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    
}

a.f-link:link {
color: var(--v2black);
background-color: transparent;
text-decoration: none;
}

a.f-link:visited {
color: var(--v2black);
background-color: transparent;
text-decoration: none;
}

a.f-link:hover {
color: var(--v2purplemid);
background-color: transparent;
text-decoration: underline;
}

a.f-link:active {
color: var(--v2black);
background-color: transparent;
text-decoration: none;
}

a.f-email:link {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}

a.f-email:visited {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}

a.f-email:hover {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: underline;
font-weight: 600;
}

a.f-email:active {
    color: var(--v2purplemid);
    background-color: transparent;
text-decoration: none;
font-weight: 600;
}