:root {
    --hlbgblue: #DADBFF;
    --cardbgblue: #C7C9F7;
    --imgwrapblue: #797cbd;
    --textblue: #1E2055;
}


.hl {
    color: var(--textblue);
    font-family: 'Lato', sans-serif;
    background-color: var(--hlbgblue);
    height: 60vh;
    width: 100%;

}

.hl-wrapper {
    padding: 50px;
}

.hl-heading {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 600;
}

.hl-card-wrapper {
    display: flex;
    align-items: center;
}

.hl-card {
    margin: 30px 15px;
    background-color: var(--cardbgblue);
    height: 300px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hl-img-wrapper {
    background-color: var(--imgwrapblue);
    height: 100px;
    width: 100px;
    margin: 40px 0px 20px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hl-card-img-ht6 {
    height: 80px;
    width: auto;
}

.hl-card-img-csc {
    width: 80px;
    height: auto;
}

.hl-card-img-fbla {
    width: 80px;
    height: auto;
}

.hl-card-org, .hl-card-position {
    text-align: center;
    max-width: 80%;
    margin: 2px;
}

.hl-card-org {
    font-weight: 600;
}