:root{
    --psbgpink: #c966bf;
    --textwhite: #FFF8EE;
}

.pslh{
    background-color: var(--psbgpink);
    color: var(--textwhite);
    font-family: 'Inconsolata', monospace;
    height: 100%;
    width: 50%;
    position: fixed;
    overflow: hidden;
}

.pslh-wrapper {
    padding: 50px;
}

.pslh-pic-wrapper {
    padding: 50px;
}

.pslh-pic {
    width: 500px;
    height: auto;
}

.pslh-nav-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.pslh-subsect {
    margin: 5px 0px 0px 0px;
}

a.pslh-link:link {
    color: var(--textwhite);
    background-color: transparent;
    text-decoration: none;
    }
    
    a.pslh-link:visited {
    color: var(--textwhite);
    background-color: transparent;
    text-decoration: none;
    }
    
    a.pslh-link:hover {
    color: var(--textwhite);
    background-color: transparent;
    text-decoration: underline;
    }
    
    a.pslh-link:active {
    color: var(--textwhite);
    background-color: transparent;
    text-decoration: none;
    }

    html {
        scroll-behavior: smooth;
      }