:root{
    --v2white: #fffffe;
    --v2purplelight: #C3A1EF;
    --v2purplemid: #8A66B8;
    --v2purplelight2: #F6ECFF;
    --v2black: #242E2F; 
}

b{
    font-weight: 600;
}

b.text-purple{
    font-weight: 600;
    color: var(--v2purplemid);
}

.home {
    color: var(--v2black);
    font-family: 'Lato', sans-serif;
    background-color: var(--v2white);
    /* height: 100%; */
    /* width: 100%; */
    width: 65vw;
    margin: 0 auto;
    /* width: 100%; */
    /* overflow: auto; */
    display: flex;
    align-items: column;
    justify-content: center;
    /* top: 50%; */
    /* left: 50%; */
}

@media screen and (max-width: 768px) {
    .home {
        width: 100vw;
    }

    .home-hero-wrapper {
        flex-direction: column;
    }

    .home-hero-left {
        order: 2;
    }

    .home-hero-right {
        order: 1;
    }
}

.home-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.home-header {
    top: 0;
}

.home-hero-wrapper {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
}

.home-hero-left {
    flex: 1;
    margin: 5%;
    /* border: 2px solid green; */
    position: relative;
}

.home-hero-right {
    flex: 1;
    position: relative;
}

.home-hero-img {
    width: 80%;
    padding: 10%;
}

/******************************************************************/

.home-hero-divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.home-sparkle-divider {
    /* width: 25%; */
    /* padding: 10%; */
    /* border: 2px solid blue; */
}

/*****************************************************************/

.home-heading {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    /* margin: 1vh 1vw; */
}

.heading-icon-wrapper {
    /* border: 2px solid red; */
    flex: 1;
    width: 10px;
    height: auto;
}

.heading-icon {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
}

.heading-text-wrapper {
    flex: 15;
}

/******************************************************************/
.home-highlights-wrapper {
    width: 90%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hl-card-title {
    font-weight: 600;
}
.hl-card-company {
    font-size: 14px;
    font-weight: 400;
    
}
.hl-card-timeline {
    font-weight: 400;
    font-size: 14px;
    color: #847992;
    
}

.home-dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23C3A1EFFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 99;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    /* pointer-events: none; */

}

.ts-items-box .home-dashed-border, .home-work-item-wrapper .home-dashed-border {
    pointer-events: none;
}

@media screen and (min-width: 769px) {
    
    .home-highlights-body {
        width: 100%;
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }

    .hl-card-container {
        display: flex;
        flex-direction: column;
        /* border: 2px dashed var(--v2purplelight); */
        /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
        border-radius: 20px;
        overflow: hidden;
        width: 30%;
        position: relative;
    }

    .hl-card-content {
        z-index: 0;
    }

    /* .hl-card-border-overlay {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23C3A1EFFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
    } */

    .hl-card-img-wrapper {
        min-height: 150px;
        height: auto;
        padding: 10px;
        width: 100%;
        background-color: var(--v2purplelight2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hl-card-img-wrapper img {
        width: 65%;
        height: auto;
    }

    .hl-card-text-wrapper {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hl-card-text-wrapper p {
        margin: 5px 0px;
    }
}

@media screen and (max-width: 768px) {
    .home-highlights-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .hl-card-container {
        /* display: flex;
        flex-direction: row; */
        /* gap: 20px; */
        width: 100%;
        height: auto;
        /* border: 2px dashed var(--v2purplelight); */
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }

    .hl-card-content {
        display: flex;
        flex-direction: row;
    }
    
    .hl-card-img-wrapper {
        flex: 2;
        background-color: var(--v2purplelight2);
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        height: auto;
        padding: 10px;
    }

    .hl-card-img-wrapper img {
        width: 70%;
        height: auto;
    }

    
    .hl-card-text-wrapper {
        flex: 3;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* gap: 10px; */
        /* align-items: center;
        justify-content: center; */
        text-align: left;
        align-items: left;
        justify-content: center;
    }
    
    .hl-card-text-wrapper p {
        margin:  5px;
    }
    
    .hl-card-title, .hl-card-company {
        font-size: 14px;
    }
    
    .hl-card-timeline {
        font-size: 12px;
    }
}

/*********************************************************/

.home-tech-stack-wrapper {
    width: 90%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ts-heading h4 {
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    color: #A789CF;
    margin: 5px 5px 5px 10px; 
}

.ts-design, .ts-libfrm, .ts-other, .ts-langs {
    /* border: 2px solid red; */
    /* overflow: hidden; */
}

.ts-boxes-wrapper {
    position: relative;
    width: 100%;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    /* border: 2px solid blue; */
}

.ts-items-box {
    /* width: 100%; */
}

.ts-items-box-content {
    /* width: 100%; */
}

.ts-design {
    position: absolute;
    width: 38%;
    height: auto;
    top: 0;
    left: 0;
}

.ts-langs {
    position: absolute;
    width: 55%;
    height: auto;
    top: 0;
    right: 0;
}

.ts-libfrm {
    position: absolute;
    width: 38%;
    height: auto;
    bottom: 0;
    right: 0;
}

.ts-other {
    position: absolute;
    width: 55%;
    height: auto;
    bottom: 0;
    left: 0;
}

.ts-flower-deco {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -58%);
}

.ts-flower-deco img {
    width: 100%;
    height: 100%;
}

.ts-items-box {
    /* border: 2px dashed var(--v2purplelight); */
    border-radius: 20px;
    position: relative;
    width: 100%;
}

.ts-items-box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.ts-item {
    font-size: 14px;
    color: #634F7C;
    background-color: #F9F5FF;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
}

.ts-item:hover {
    background-color: #f0e6ff;
    transition: 0.5s;
}

@media screen and (max-width: 1300px) {
    .ts-boxes-wrapper {
        min-height: 550px;
    }
    
}
@media screen and (max-width: 1150px) {
    .ts-boxes-wrapper {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .ts-flower-deco {
        display: none;
    }
    .ts-design, .ts-langs, .ts-libfrm, .ts-other {
        position: static;
        width: 100%;
        height: auto;
        margin: auto;
    }
}

/*********************************************************/

.home-work-wrapper {
    width: 90%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home-work-content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-work-item-wrapper {
    position: relative;

}

.home-work-item-content {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    width: 100%;
    height: auto;
    max-height: auto;
    /* border: 2px dashed var(--v2purplelight); */
    border-radius: 20px;
    overflow: hidden;

}

@media screen and (min-width: 900px) {
    .home-work-item-content {
        height: 200px;
    }
}

.home-work-item-img {
    flex: 2;
    background-color: var(--v2purplelight2);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 150px;   */
    max-height: 100%;
    height: auto;
    padding: 10px;
}

.home-work-item-img img {
    max-width: 80%;
    /* height: auto; */
    max-height: 80%;
    /* aspect-ratio: auto; */
}

.home-work-item-text-wrapper {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-work-title-sect {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home-work-item-text-wrapper p {
    margin:  0;
}

.home-work-item-title {
    font-weight: 600;
    font-size: 16px;
}

.home-work-item-subheading {
    font-weight: 400;
    font-size: 16px;
}

.home-work-item-desc {
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    
    .home-work-item-desc {
        font-size: 14px;
    }
}

.home-work-link {
    font-weight: 500;
    font-size: 16px;
    color: var(--v2purplemid);
    text-decoration: none;
}

a.home-work-link:link {
    font-weight: 600;
    font-size: 16px;
    color: var(--v2purplemid);
    text-decoration: none;
}

a.home-work-link:visited {
    font-weight: 600;
    font-size: 16px;
    color: var(--v2purplemid);
    text-decoration: none;
}

a.home-work-link:hover {
    font-weight: 600;
    font-size: 16px;
    color: var(--v2purplelight);
    /* text-decoration: underline; */
    transition: 0.5s;
}

a.home-work-link:active {
    font-weight: 600;
    font-size: 16px;
    color: var(--v2purplemid);
    text-decoration: none;
}

/* .see-more-btn {
    color: var(--v2white);
    background-color: var(--v2purplelight);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 6px 15px;
    cursor: pointer;
    width: fit-content;
}
.see-more-btn:hover {
    background-color: #c9adee;
} */
/* 
a.see-more-btn:link {
    color: var(--v2white);
}
a.see-more-btn:visited {
    color: var(--v2white);
}
a.see-more-btn:hover {
    color: var(--v2white);
}
a.see-more-btn:active {
    color: var(--v2white);
} */

@media screen and (max-width: 768px) {
    .see-more-btn {
        width: 100% !important;
        padding: 10px 0;
    }
    
}

