:root{
    --v2white: #fffffe;
    --v2purplelight: #C3A1EF;
    --v2purplemid: #8A66B8;
    --v2black: #242E2F; 
}

b{
    font-weight: 600;
}

b.text-purple{
    font-weight: 600;
    color: var(--v2purplemid);
}

.about {
    color: var(--v2black);
    font-family: 'Lato', sans-serif;
    background-color: var(--v2white);
    /* height: 100%; */
    /* width: 100%; */
    width: 65vw;
    margin: 0 auto;
    /* width: 100%; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    /* top: 50%; */
    /* left: 50%; */
    /* border: 2px solid green; */
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.about-heading {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    /* margin: 1vh 1vw; */
}

.heading-icon-wrapper {
    /* border: 2px solid red; */
    flex: 1;
    width: 10px;
    height: auto;
}

.heading-icon {
    /* border: 2px solid blue; */
    width: 100%;
    height: auto;
}

.heading-text-wrapper {
    flex: 15;
}

/* .about-wrapper{
    padding: 70px 150px 20px 150px;
} */

.about-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* border: 2px solid purple; */
}

.about-content-wrapper{
    /* padding: 0px 100px; */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-text-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-text{
    /* padding: 10px 10px 10px 50px; */
    margin: 10px 0;
}

.about-abt-img-wrapper{
    flex: 1;
    padding: 0px 0px 0px 50px;
}

.about-abt-img{
    height: 350px;
}

.about-text-2{
    /* padding: 10px 250px 10px 150px; */
    width: 100%;
}

.about-abt-dragon-wrapper{
    /* padding: 20px 150px 70px 150px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.about-abt-dragon-img{
    width: 100%;
}


@media screen and (max-width: 768px) {
    .about {
        width: 100vw;
    }
    .about-content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .about-abt-img-wrapper {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: auto;
    }
    .about-abt-img {
        width: 100%;
        height: auto;
    }
}