:root{
    --v2white: #fffffe;
    --v2purplelight: #C3A1EF;
    --v2purplemid: #8A66B8;
    --v2black: #242E2F; 
}

b{
    font-weight: 600;
}

b.text-purple{
    font-weight: 600;
    color: var(--v2purplemid);
}

ul, li{
    margin: 0;
}

.ht6 {
    color: var(--v2black);
    font-family: 'Inter', sans-serif;
    background-color: var(--v2white);
    /* height: 100%; */
    /* width: 100%; */
    width: 80vw;
    margin: 0 auto;
    /* width: 100%; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* top: 50%; */
    /* left: 50%; */
}

.ht6-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.ht6-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 2px solid red; */
    width: 100%;
}

.ht6-header-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.ht6-header-img{
    width: 65vw;
}

.ht6-title{
    font-weight: 600;
    font-size: 24px;
    padding: 50px 100px 20px 125px;
}

.ht6-subtitle{
    font-size: 16px;
    padding: 2px 125px 2px 125px;
}

.ht6-divider{
    font-size: 16px;
    font-weight: 600;
    color: var(--v2purplelight);
    padding: 5px 125px 10px 125px;
}

.ht6-header{
    font-weight: 600;
    font-size: 20px;
    padding: 20px 100px 10px 125px;
}

.ht6-h2{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 10px 10px 125px;
}

.ht6-text{
    font-size: 16px;
    padding: 10px 125px 10px 150px;
}

.ht6-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.ht6-img{
    width: 800px;
}